/* titulo principal de la pagina  */
.titulo{

    color: rgb(14, 15, 3);
    font-size: 25px;
   border-radius: 10px;
   font-weight: 100;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/* segundo sub titulo de la pagina principal */
h2{

    color: rgb(14, 15, 3); 
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* listas desordenadas de las paginas */
#lista{

    font-size: 25px;
    margin: 30px;
    background-position: 3cm;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    list-style-type: none;





}
/* boton de descubre mas  */
.boton{
    
    text-decoration: none;
    color: rgb(19, 17, 17);
    font-size:  15px;


}

/* pagina en general */
*{
    margin: 10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700; 
}

/* foto principal */
.foto-1{

    width: 90%;
    
}
/* es boton de mas info sobre las motos */
.boton-1{

    color: rgb(14, 15, 3);
    font-size: 15px;
   text-decoration: none;
}

/* foto despues de la caja de inicio*/
.imagen{

    width: 85%;

}

/* precio en bloque de los termos */

 .precio-base{

    display: block;
    display: grid;
    justify-content: center;

 }

 /* caja que encuadran parrafo */
 .caja{

    border-top: solid rgb(14, 13, 13);
    border-bottom: solid rgb(14, 13, 13);


 }


 .mitad-imagen:hover{

    transform: scale(1.2, 1.2);
    transition: all 2s;
 }

 .titulo-2{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(14, 15, 3);
    font-size: 30px;
    border-radius: 10px;
    font-weight: 100;
    text-align: right;
}


.stock-imagenes:hover{

    transform: scale(1.2, 1.2);
    transition: all 2s;

}
 /* parrafo de sobre nosotros */
.texto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    list-style-type: none;
    width: 100%;
    color: rgb(19, 16, 16);
   
}    

/* fotos de sobre nosotros */
.fabrica{
    padding: 3%;
    margin: 2%;
    display: inline;
    width: 700px;
    object-fit: cover;
    height: 800px
    
}

/* menu navegacion */
.navegacion{
    background-image: url(https://media.istockphoto.com/id/517188688/es/foto/paisaje-de-monta%C3%B1a.jpg?s=1024x1024&w=0&k=20&c=3yPMhUqWCsuP1Sb7V9hIlH5IR7k70TBNb1Z69whJ5Y8=);
    background-color:  rgb(45, 82, 38)

    }


/* linea de sobre nosotros */
.fabricas{

    border-top: solid rgb(135, 153, 137);
    border-bottom: solid rgb(135, 153, 137);

}
/* caja de contacto */

.caja__1{

    border: double rgb(15, 15, 15);
}

.foto__motopartes:hover{

    transform: scale(1.2, 1.2);
    transition: all 2s;
}


/* pie de pagina  */
.pie__de__pagina{

    color: rgb(135, 153, 137);
    font-size: 20px;
    text-align: center;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.logo{
    width: 15%;
}


/* lista de paginas desordenadas */
li a{

    text-decoration: none;
    color: rgb(19, 17, 17);
    font-size: 25px;
    
}


/* animaciones del header */

#lista li a{
    
        padding: 10px;
        transition: all .3s ease-in-out;

        }
        
     #lista li a:hover {

        background-color:rgb(22, 21, 21);
        color: rgb(135, 153, 137);
    }


/* foto de termo titulo dentro */

    .contenedor__foto-1{
        width: 90%;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        box-shadow: 5px 8px 12px rgb(8, 1, 1);
        margin: 5%;
       
    }


    .contenedor__foto-1 p{

        font-size: 3rem;
        color: black;
        position: absolute;
        top: 20%;
        left: 20%;
        right: 40%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px black;
        


    }
    .cuerpo__pagina-1{
        
        background-color: rgb(192, 185, 185);
    }

    /* pagina login */ 

    body {
        background-color: #f1f1f1;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      
      form {
        background-color: #fff;
        padding: 20px;
        max-width: 400px;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      h2 {
        text-align: center;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
      }
      
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        box-sizing: border-box;
      }
      
      button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
    }


    
    /* mediaquerys*/

    /***NAVBAR:TODAS LAS PAGINAS***/

@media(max-width: 589px) {

    .navegacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navegacion:hover {
        background-color: var(--white);
        color: var(--grey_dark);
    }
 
    .titulo__foto{
        font-size: 10px;
    }
    .logo{ 
        min-width: 15em;
        max-width: 15em;
    }
 
    #lista{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        font-size: 10%;
    }
 
    .contenedor__foto-1{
        padding: var(--sp-xs);
        transition: all .3s ease-in-out;
    }
    
    .mitad-imagen{
       width: 5px;
       height: 5px;
    }
   
 }
 
 /***PAGINA:HOME***/
 
 @media(max-width: 500px) {
 
    .navegacion{
        display: flex;
        -ms-flex-align: center;
        padding-top: var(--sp-xl);
        font-size: 10px;
    }
 
    .mitad-imagen{
 
        width: 10px;
        height: 10px;
    }
 
    .texto{
        text-align: center;
        border-top: 0.05em solid var(--red);
        margin: var(--sp-md);
        padding: var(--sp-md);
        font-size: var(--text-md);
    }
 
    .caja {
        text-align: center;
        margin: var(--sp-md);
        padding: var(--sp-md);
        font-size: var(--text-md);
    }
 
    .pie__de__pagina{
        text-align: center;
        padding-bottom: var(--white);
        border-bottom: 0.05em solid var(white);
        margin: var(--sp-md);
        padding: var(--sp-md);
        font-size: var(--text-md);
    }
    .stock-imagenes{
     flex-direction: row-reverse;
       height: 5px;
       width: 5px
       
       
    }
    .fabrica{
       flex-direction: row-reverse;
       width: 15px;
       height: 15px;
       margin: 0%;
    }
    .foto-1{
    width: 130%;
    }
    
 }